body {
    color: black;
}
.container {
    color:white;
    background-color: grey;
    width: 600px;
    padding:50px;
    margin: 30px auto;
}

p{
    display: inline-block;
}
input[type=submit] {
    display: inline-block;
    color:black;
    background-color: lightgreen;
    font-weight:bold;
    padding:10px;
}
input[type=text] {
    display: inline-block;
    color:black;
    font-weight:bold;
    padding:10px;
    min-width:300px;
}

.error, .success {
    border-color: black;
    width:50%;
    height:40px;
    line-height:40px;
    margin: 20px auto;
    text-align: center;
}
.error {
    background-color: aqua;
    color: black;
}
.success{
    background-color: yellow;
    color: black;
}